<!DOCTYPE html>
<html>



<body style="background-color: #181A1B;">

    <table class="table center">
        <tr>
            <th>
                <a routerLink='savefeed'>Add Feedback</a>
            </th>
            <th>
                <a routerLink="updateFeed">Update Feedback </a>
            </th>
            <th>
                <a routerLink="avgRating">Average Feedback </a>
            </th>
            <th>
                <a routerLink="getfeed">Get Feedback </a>
            </th>
        </tr>
    </table>
</body>

<router-outlet></router-outlet>