<!DOCTYPE html>

<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<body style="background-color: #181A1B;">


    <table class="table center">
        <tr>
            <th>
                <a routerLink="addBookmark"> Add Bookmark</a>

            </th>
            <th>
                <a routerLink="getBookmark"> Get Bookmark</a>

            </th>
            <th>
                <a routerLink="deleteBookmark"> Remove Bookmark</a>

            </th>
        </tr>
    </table>
    <div></div>
    <router-outlet></router-outlet>

</body>

</html>