
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Save save-jobapplication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="add-recruiter.component.css">
</head>

<body style="background-color: #181A1B;" class="text-light form-inline">
    <h2 style="text-align: center;"> Add Recruiter: </h2>
    <div class="container text-light">
        <form #saveRecruiterForm="ngForm" (ngSubmit)="addSubmit()">

            <br>

            <br>
            First_Name:<br><input #firstname='ngModel' required minlength="3" maxlength="15" type="text"
                name="firstName" [(ngModel)]="addingRecruiter.firstName"><br><br>

            <div *ngIf='firstname.errors && saveRecruiterForm.touched' class="alert alert-danger">
                <div [hidden]='!firstname.errors.required'> Provide Recruiter first name:</div>
                <div [hidden]='firstname.errors.pattern'>First Name should lngth between 3 to 15</div>
            </div>

            Last_Name:<br><input #lastname='ngModel' required minlength="3" maxlength="15" type="text" name="lastName"
                [(ngModel)]="addingRecruiter.lastName"><br><br>
            <div *ngIf='lastname.errors && saveRecruiterForm.touched' class="alert alert-danger">
                <div [hidden]='!lastname.errors.required'> Provide Recruiter Last name:</div>
                <div [hidden]='lastname.errors.pattern'>Last Name should lngth between 3 to 15</div>
            </div>

            <div style="text-align: center;">
                <input [disabled]="!saveRecruiterForm.valid" type="submit" value="Save Recruiter">
            </div>

        </form>
    </div>

</body>

</html>