<div class="container text-light" style="background-color: #181A1B;">
    <form #freelancer="ngForm" (ngSubmit)="onSubmit()">
        Firstname<input type="text" class="form-control" name="fname" [(ngModel)]="free.firstName"><br>
        Lastname<input type="text" class="form-control" name="lname" [(ngModel)]="free.lastName"><br>
        Password<input type="password" class="form-control" name="pass" [(ngModel)]="free.password"><br>
        Appliedjobs<br>
        Applied Date <input type="date" class="form-control" name="applieddate"
            [(ngModel)]="free.appliedJobs.appliedDate"><br>
        Cover Letter<input type="text" class="form-control" name="cv" [(ngModel)]="free.appliedJobs.coverLetter"><br>
        <input type="submit" value="submit">
    </form>
</div>